USE [ControlTecDb_Aplus]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documentos]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Tipo] [nvarchar](50) NULL,
	[Ruta] [nvarchar](255) NULL,
	[SolicitudId] [int] NULL,
	[DocumentoRequeridoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentosRequeridos]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentosRequeridos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NULL,
	[ServicioId] [int] NULL,
	[Fase] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormularioDigital]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormularioDigital](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubservicioId] [int] NOT NULL,
	[EstructuraJson] [nvarchar](max) NOT NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialEstados]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialEstados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[EstadoAnterior] [nvarchar](50) NULL,
	[EstadoNuevo] [nvarchar](50) NOT NULL,
	[Comentario] [nvarchar](500) NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaCambio] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[SolicitudId] [int] NULL,
	[Titulo] [nvarchar](100) NOT NULL,
	[Mensaje] [nvarchar](255) NOT NULL,
	[Leido] [bit] NULL,
	[Fecha] [datetime] NULL,
	[Tipo] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RespuestaFormularioDigital]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespuestaFormularioDigital](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[FormularioDigitalId] [int] NOT NULL,
	[RespuestasJson] [nvarchar](max) NOT NULL,
	[FechaEnvio] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Costo] [decimal](18, 2) NULL,
	[RequierePago] [bit] NULL,
	[Activo] [bit] NULL,
	[RutaFormularioBase] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitudes]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitudes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioId] [int] NULL,
	[ServicioId] [int] NULL,
	[RutaCertificado] [nvarchar](300) NULL,
	[RutaComunicacionRechazo] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subservicio]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subservicio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[ServicioId] [int] NOT NULL,
	[RutaFormularioBase] [nvarchar](255) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TwoFactorCodes]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TwoFactorCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[CodigoHash] [nvarchar](64) NOT NULL,
	[ExpiraEn] [datetime2](7) NOT NULL,
	[Usado] [bit] NOT NULL,
	[Intentos] [int] NOT NULL,
	[SessionToken] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_TwoFactorCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Correo] [nvarchar](100) NOT NULL,
	[Contraseña] [nvarchar](100) NOT NULL,
	[Roll] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
	[EsInternoPendiente] [bit] NOT NULL,
	[Cedula] [varchar](11) NOT NULL,
	[EmailConfirmacionExpira] [datetime2](7) NULL,
	[EmailConfirmacionToken] [nvarchar](200) NULL,
	[EmailConfirmado] [bit] NOT NULL,
	[FechaEmailConfirmado] [datetime2](7) NULL,
	[CodigoVerificacion] [varchar](10) NULL,
	[CodigoVerificacionExpira] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Documentos] ON 

INSERT [dbo].[Documentos] ([Id], [Nombre], [Tipo], [Ruta], [SolicitudId], [DocumentoRequeridoId]) VALUES (1, N'Proyecto final laboratorio de ingenieria en factores humanos.pdf', N'application/pdf', N'/uploads/solicitudes/1/Proyecto_final_laboratorio_de_ingenieria_en_factores_humanos.pdf', 1, NULL)
INSERT [dbo].[Documentos] ([Id], [Nombre], [Tipo], [Ruta], [SolicitudId], [DocumentoRequeridoId]) VALUES (2, N'Proyecto final laboratorio de ingenieria en factores humanos AAAAAA.pdf', N'application/pdf', N'/uploads/solicitudes/2/Proyecto_final_laboratorio_de_ingenieria_en_factores_humanos_AAAAAA.pdf', 2, NULL)
INSERT [dbo].[Documentos] ([Id], [Nombre], [Tipo], [Ruta], [SolicitudId], [DocumentoRequeridoId]) VALUES (3, N'Swagger_UI_a.pdf', N'application/pdf', N'/uploads/solicitudes/2/Swagger_UI_a.pdf', 2, NULL)
SET IDENTITY_INSERT [dbo].[Documentos] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentosRequeridos] ON 

INSERT [dbo].[DocumentosRequeridos] ([Id], [Nombre], [ServicioId], [Fase]) VALUES (3, N'Formulario LI-UPC-01 completado y firmado', 1, 1)
INSERT [dbo].[DocumentosRequeridos] ([Id], [Nombre], [ServicioId], [Fase]) VALUES (4, N'Copia de cédula del representante legal', 1, 1)
INSERT [dbo].[DocumentosRequeridos] ([Id], [Nombre], [ServicioId], [Fase]) VALUES (5, N'Registro Mercantil', 1, 1)
SET IDENTITY_INSERT [dbo].[DocumentosRequeridos] OFF
GO
SET IDENTITY_INSERT [dbo].[FormularioDigital] ON 

SET IDENTITY_INSERT [dbo].[FormularioDigital] OFF
GO
SET IDENTITY_INSERT [dbo].[HistorialEstados] ON 

INSERT [dbo].[HistorialEstados] ([Id], [SolicitudId], [EstadoAnterior], [EstadoNuevo], [Comentario], [UsuarioId], [FechaCambio]) VALUES (1, 1, NULL, N'Pendiente', N'Solicitud iniciada desde el portal.', 1, CAST(N'2025-11-23T22:22:26.9755699' AS DateTime2))
INSERT [dbo].[HistorialEstados] ([Id], [SolicitudId], [EstadoAnterior], [EstadoNuevo], [Comentario], [UsuarioId], [FechaCambio]) VALUES (2, 2, NULL, N'Pendiente', N'Solicitud iniciada desde el portal.', 1, CAST(N'2025-11-23T22:41:36.8704233' AS DateTime2))
INSERT [dbo].[HistorialEstados] ([Id], [SolicitudId], [EstadoAnterior], [EstadoNuevo], [Comentario], [UsuarioId], [FechaCambio]) VALUES (3, 2, N'Pendiente', N'Depositada', N'Envío final de la solicitud.', 1, CAST(N'2025-11-23T22:42:46.9372318' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[HistorialEstados] OFF
GO
SET IDENTITY_INSERT [dbo].[Notificaciones] ON 

INSERT [dbo].[Notificaciones] ([Id], [UsuarioId], [SolicitudId], [Titulo], [Mensaje], [Leido], [Fecha], [Tipo]) VALUES (1, 1038, 1028, N'Solicitud #1028 Actualizada', N'El estado ha cambiado a: Validación Recepción.', 0, CAST(N'2025-12-20T21:00:11.257' AS DateTime), N'Info')
INSERT [dbo].[Notificaciones] ([Id], [UsuarioId], [SolicitudId], [Titulo], [Mensaje], [Leido], [Fecha], [Tipo]) VALUES (2, 1038, 1028, N'Solicitud #1028 Actualizada', N'El estado ha cambiado a: Evaluación Técnica.', 0, CAST(N'2025-12-20T21:15:18.997' AS DateTime), N'Info')
INSERT [dbo].[Notificaciones] ([Id], [UsuarioId], [SolicitudId], [Titulo], [Mensaje], [Leido], [Fecha], [Tipo]) VALUES (3, 1038, 1028, N'Solicitud #1028 Actualizada', N'El estado ha cambiado a: Aprobación DIGEAMPS.', 0, CAST(N'2025-12-20T21:18:21.400' AS DateTime), N'Info')
SET IDENTITY_INSERT [dbo].[Notificaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[RespuestaFormularioDigital] ON 

INSERT [dbo].[RespuestaFormularioDigital] ([Id], [SolicitudId], [FormularioDigitalId], [RespuestasJson], [FechaEnvio]) VALUES (2, 1016, 3, N'{"nombreProfesional":"Pedro Pérez","direccionPostal":"Av. Principal 123","cedulaIdentidad":"001-1234567-8","exequatur":"12345","profesion":"Medicina","estatus":"Primera Solicitud"}', CAST(N'2025-12-09T20:50:26.717' AS DateTime))
INSERT [dbo].[RespuestaFormularioDigital] ([Id], [SolicitudId], [FormularioDigitalId], [RespuestasJson], [FechaEnvio]) VALUES (3, 1019, 3, N'{"nombreProfesional":"Juan Pérez","direccionPostal":"Av. Principal 123","cedulaIdentidad":"001-1234567-8","exequatur":"12345","profesion":"Medicina","estatus":"Primera Solicitud"}', CAST(N'2025-12-11T14:41:37.063' AS DateTime))
INSERT [dbo].[RespuestaFormularioDigital] ([Id], [SolicitudId], [FormularioDigitalId], [RespuestasJson], [FechaEnvio]) VALUES (4, 1025, 3, N'{"nombreProfesional":"pedro","direccionPostal":"pangel1005@gmail.com","cedulaIdentidad":"40255328113","email":"pangel1005@gmail.com","exequatur":"a","telefonoResidencial":"31","colegiatura":"asd","celular":"13","lugarTrabajo":"31","direccionTrabajo":"dsaas","telefonoTrabajo":"314353","categoriaII":true,"detalleEstatus":"adas","profesion":"Medicina","estatus":"Primera Solicitud"}', CAST(N'2025-12-13T22:14:01.957' AS DateTime))
SET IDENTITY_INSERT [dbo].[RespuestaFormularioDigital] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicios] ON 

INSERT [dbo].[Servicios] ([Id], [Nombre], [Descripcion], [Costo], [RequierePago], [Activo], [RutaFormularioBase]) VALUES (1, N'LI-UPC-01 Certificado de Inscripción de Drogas Controladas Clase A', N'Certificado necesario para la importación de medicamentos y sustancias controladas de Clase A.', CAST(1500.00 AS Decimal(18, 2)), 1, 1, N'/uploads/forms/LI-UPC-01.pdf')
INSERT [dbo].[Servicios] ([Id], [Nombre], [Descripcion], [Costo], [RequierePago], [Activo], [RutaFormularioBase]) VALUES (2, N'LI-UPC-02 Certificado de Inscripción de Drogas Controladas Clase B para Establecimientos Privados', N'Certificado de inscripción Clase B para clínicas, farmacias y otros establecimientos privados.', CAST(1200.00 AS Decimal(18, 2)), 1, 1, N'/uploads/forms/LI-UPC-02.pdf')
INSERT [dbo].[Servicios] ([Id], [Nombre], [Descripcion], [Costo], [RequierePago], [Activo], [RutaFormularioBase]) VALUES (3, N'LI-UPC-03 Certificado de Inscripción de Drogas Controladas Clase B para Hospitales Públicos y otras Instituciones Públicas', N'Certificado de inscripción Clase B para hospitales públicos y otras instituciones públicas.', CAST(0.00 AS Decimal(18, 2)), 0, 1, N'/uploads/forms/LI-UPC-03.pdf')
SET IDENTITY_INSERT [dbo].[Servicios] OFF
GO
SET IDENTITY_INSERT [dbo].[Solicitudes] ON 

INSERT [dbo].[Solicitudes] ([Id], [Estado], [FechaCreacion], [UsuarioId], [ServicioId], [RutaCertificado], [RutaComunicacionRechazo]) VALUES (1, N'Pendiente', CAST(N'2025-11-23T22:22:26.867' AS DateTime), 1, 1, NULL, NULL)
INSERT [dbo].[Solicitudes] ([Id], [Estado], [FechaCreacion], [UsuarioId], [ServicioId], [RutaCertificado], [RutaComunicacionRechazo]) VALUES (2, N'Pendiente', CAST(N'2025-11-23T22:41:36.760' AS DateTime), 1, 1, NULL, NULL)
INSERT [dbo].[Solicitudes] ([Id], [Estado], [FechaCreacion], [UsuarioId], [ServicioId], [RutaCertificado], [RutaComunicacionRechazo]) VALUES (3, N'Pendiente', CAST(N'2025-11-23T22:44:59.793' AS DateTime), 1, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Solicitudes] OFF
GO
SET IDENTITY_INSERT [dbo].[Subservicio] ON 

INSERT [dbo].[Subservicio] ([Id], [Nombre], [Descripcion], [ServicioId], [RutaFormularioBase], [Activo]) VALUES (1, N'Nueva Solicitud', N'Nueva inscripción Clase A', 1, N'/uploads/forms/Solicitud_A.pdf', 1)
INSERT [dbo].[Subservicio] ([Id], [Nombre], [Descripcion], [ServicioId], [RutaFormularioBase], [Activo]) VALUES (2, N'Renovación Certificado', N'Renovación inscripción Clase A', 1, N'/uploads/forms/Solicitud_A.pdf', 1)
INSERT [dbo].[Subservicio] ([Id], [Nombre], [Descripcion], [ServicioId], [RutaFormularioBase], [Activo]) VALUES (3, N'Pérdida del Certificado', N'Reposición por pérdida Clase A', 1, N'/uploads/forms/Solicitud_A.pdf', 1)
SET IDENTITY_INSERT [dbo].[Subservicio] OFF
GO
SET IDENTITY_INSERT [dbo].[TwoFactorCodes] ON 

INSERT [dbo].[TwoFactorCodes] ([Id], [UsuarioId], [CodigoHash], [ExpiraEn], [Usado], [Intentos], [SessionToken]) VALUES (14, 1009, N'394b720f6b98da12123e1241fc1bd779ff2153263b80429e083dfb4c973eda88', CAST(N'2025-12-14T02:12:04.9742665' AS DateTime2), 0, 0, N'5747ab05baf44d33a637a47ba9d03af0')
INSERT [dbo].[TwoFactorCodes] ([Id], [UsuarioId], [CodigoHash], [ExpiraEn], [Usado], [Intentos], [SessionToken]) VALUES (15, 1009, N'4e5635343b6cc1e2fbd51509bccd30bc9d58e70562d7dacc6be36e6cc2e89d0a', CAST(N'2025-12-14T02:14:02.1629131' AS DateTime2), 0, 0, N'41095a80616c4ae1ad10497fe1321e87')
INSERT [dbo].[TwoFactorCodes] ([Id], [UsuarioId], [CodigoHash], [ExpiraEn], [Usado], [Intentos], [SessionToken]) VALUES (17, 1009, N'53dd1870df3b763d5eb342394c2e953b402c1d74cc8e0bb3e266cefbb61bd536', CAST(N'2025-12-14T02:21:58.4328334' AS DateTime2), 1, 0, N'6cba3d65e2ff482da1c129d5a38c031d')
SET IDENTITY_INSERT [dbo].[TwoFactorCodes] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [Correo], [Contraseña], [Roll], [Activo], [EsInternoPendiente], [Cedula], [EmailConfirmacionExpira], [EmailConfirmacionToken], [EmailConfirmado], [FechaEmailConfirmado], [CodigoVerificacion], [CodigoVerificacionExpira]) VALUES (1, N'Pedro', N'pedro@example.com', N'password123', N'VUS', 1, 0, N'40228051328', NULL, NULL, 0, NULL, NULL, NULL)
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Correo], [Contraseña], [Roll], [Activo], [EsInternoPendiente], [Cedula], [EmailConfirmacionExpira], [EmailConfirmacionToken], [EmailConfirmado], [FechaEmailConfirmado], [CodigoVerificacion], [CodigoVerificacionExpira]) VALUES (2, N'Ana', N'ana@example.com', N'password123', N'Admin', 1, 0, N'00145782137', NULL, NULL, 0, NULL, NULL, NULL)
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Correo], [Contraseña], [Roll], [Activo], [EsInternoPendiente], [Cedula], [EmailConfirmacionExpira], [EmailConfirmacionToken], [EmailConfirmado], [FechaEmailConfirmado], [CodigoVerificacion], [CodigoVerificacionExpira]) VALUES (3, N'Carlos Pérez', N'carlos@example.com', N'Password123!', N'Solicitante', 1, 0, N'00198357214', NULL, NULL, 0, NULL, N'801853', CAST(N'2025-12-15T05:23:27.217' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_Cedula]    Script Date: 21/12/2025 1:47:10 p. m. ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_Cedula] UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocumentosRequeridos] ADD  DEFAULT ((1)) FOR [Fase]
GO
ALTER TABLE [dbo].[FormularioDigital] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[HistorialEstados] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT ((0)) FOR [Leido]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT ('Info') FOR [Tipo]
GO
ALTER TABLE [dbo].[RespuestaFormularioDigital] ADD  DEFAULT (getdate()) FOR [FechaEnvio]
GO
ALTER TABLE [dbo].[Subservicio] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_EsInternoPendiente]  DEFAULT ((0)) FOR [EsInternoPendiente]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_EmailConfirmado]  DEFAULT (CONVERT([bit],(0))) FOR [EmailConfirmado]
GO
ALTER TABLE [dbo].[Documentos]  WITH CHECK ADD FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[Solicitudes] ([Id])
GO
ALTER TABLE [dbo].[Documentos]  WITH CHECK ADD  CONSTRAINT [FK_Documentos_DocumentosRequeridos_DocumentoRequeridoId] FOREIGN KEY([DocumentoRequeridoId])
REFERENCES [dbo].[DocumentosRequeridos] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Documentos] CHECK CONSTRAINT [FK_Documentos_DocumentosRequeridos_DocumentoRequeridoId]
GO
ALTER TABLE [dbo].[DocumentosRequeridos]  WITH CHECK ADD FOREIGN KEY([ServicioId])
REFERENCES [dbo].[Servicios] ([Id])
GO
ALTER TABLE [dbo].[FormularioDigital]  WITH CHECK ADD FOREIGN KEY([SubservicioId])
REFERENCES [dbo].[Subservicio] ([Id])
GO
ALTER TABLE [dbo].[HistorialEstados]  WITH CHECK ADD  CONSTRAINT [FK_HistorialEstados_Solicitudes] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[Solicitudes] ([Id])
GO
ALTER TABLE [dbo].[HistorialEstados] CHECK CONSTRAINT [FK_HistorialEstados_Solicitudes]
GO
ALTER TABLE [dbo].[HistorialEstados]  WITH CHECK ADD  CONSTRAINT [FK_HistorialEstados_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[HistorialEstados] CHECK CONSTRAINT [FK_HistorialEstados_Usuarios]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_Solicitudes] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[Solicitudes] ([Id])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK_Notificaciones_Solicitudes]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK_Notificaciones_Usuarios]
GO
ALTER TABLE [dbo].[RespuestaFormularioDigital]  WITH CHECK ADD FOREIGN KEY([FormularioDigitalId])
REFERENCES [dbo].[FormularioDigital] ([Id])
GO
ALTER TABLE [dbo].[RespuestaFormularioDigital]  WITH CHECK ADD FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[Solicitudes] ([Id])
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD FOREIGN KEY([ServicioId])
REFERENCES [dbo].[Servicios] ([Id])
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Subservicio]  WITH CHECK ADD FOREIGN KEY([ServicioId])
REFERENCES [dbo].[Servicios] ([Id])
GO
ALTER TABLE [dbo].[TwoFactorCodes]  WITH CHECK ADD  CONSTRAINT [FK_TwoFactorCodes_Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TwoFactorCodes] CHECK CONSTRAINT [FK_TwoFactorCodes_Usuarios_UsuarioId]
GO
/****** Object:  StoredProcedure [dbo].[sp_AprobarUsuarioInterno]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AprobarUsuarioInterno]
    @UsuarioId INT,
    @NuevoRol  NVARCHAR(50)   -- Ej: 'VUS', 'DNCD', 'EncargadoUPC', 'TecnicoUPC', 'Analista', 'Direccion', 'Admin'
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Usuarios
    SET Roll = @NuevoRol,
        Activo = 1,
        EsInternoPendiente = 0
    WHERE Id = @UsuarioId;

    SELECT Id, Nombre, Correo, Roll, Activo, EsInternoPendiente, Cedula
    FROM Usuarios
    WHERE Id = @UsuarioId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CambiarEstado]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CambiarEstado]
    @SolicitudId INT,
    @EstadoNuevo VARCHAR(100),
    @Comentario VARCHAR(500),
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EstadoAnterior VARCHAR(100);

    -- Obtener estado previo
    SELECT @EstadoAnterior = Estado
    FROM Solicitudes
    WHERE Id = @SolicitudId;

    -- Actualizar solicitud
    UPDATE Solicitudes
    SET Estado = @EstadoNuevo
    WHERE Id = @SolicitudId;

    -- Insertar historial
    INSERT INTO HistorialEstados (SolicitudId, EstadoAnterior, EstadoNuevo, Comentario, UsuarioId, FechaCambio)
    VALUES (@SolicitudId, @EstadoAnterior, @EstadoNuevo, @Comentario, @UsuarioId, GETDATE());

    -- Devolver datos actualizados
    SELECT s.*, u.Nombre AS UsuarioNombre
    FROM Solicitudes s
    INNER JOIN Usuarios u ON u.Id = s.UsuarioId
    WHERE s.Id = @SolicitudId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CambiarEstadoSolicitud]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CambiarEstadoSolicitud]
    @SolicitudId INT,
    @EstadoNuevo VARCHAR(100),
    @Comentario  VARCHAR(500),
    @UsuarioId   INT
AS
BEGIN
    SET NOCOUNT ON;
    EXEC dbo.sp_CambiarEstado @SolicitudId, @EstadoNuevo, @Comentario, @UsuarioId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearSolicitud]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearSolicitud]
    @UsuarioId INT,
    @ServicioId INT,
    @Comentario VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Crear solicitud
    INSERT INTO Solicitudes (UsuarioId, ServicioId, Estado, FechaCreacion)
    VALUES (@UsuarioId, @ServicioId, 'Pendiente', GETDATE());

    DECLARE @SolicitudId INT = SCOPE_IDENTITY();

    -- Registrar historial inicial
    INSERT INTO HistorialEstados (SolicitudId, EstadoAnterior, EstadoNuevo, Comentario, UsuarioId, FechaCambio)
    VALUES (@SolicitudId, NULL, 'Pendiente', @Comentario, @UsuarioId, GETDATE());

    -- Devolver la solicitud creada
    SELECT *
    FROM Solicitudes
    WHERE Id = @SolicitudId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_IniciarSolicitud]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_IniciarSolicitud]
    @UsuarioId INT,
    @ServicioId INT,
    @Comentario VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    EXEC dbo.sp_CrearSolicitud @UsuarioId, @ServicioId, @Comentario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarSolicitudesFiltradas]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarSolicitudesFiltradas]
    @Estado      VARCHAR(100) = NULL,
    @ServicioId  INT          = NULL,
    @UsuarioId   INT          = NULL,
    @FechaDesde  DATE         = NULL,
    @FechaHasta  DATE         = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        s.Id,
        s.Estado,
        s.FechaCreacion,
        u.Id   AS UsuarioId,
        u.Nombre AS UsuarioNombre,
        u.Correo,
        serv.Id AS ServicioId,
        serv.Nombre AS ServicioNombre
    FROM Solicitudes s
    LEFT JOIN Usuarios  u    ON u.Id    = s.UsuarioId
    LEFT JOIN Servicios serv ON serv.Id = s.ServicioId
    WHERE
        (@Estado IS NULL OR s.Estado = @Estado)
        AND (@ServicioId IS NULL OR s.ServicioId = @ServicioId)
        AND (@UsuarioId IS NULL OR s.UsuarioId = @UsuarioId)
        AND (@FechaDesde IS NULL OR s.FechaCreacion >= @FechaDesde)
        AND (@FechaHasta IS NULL OR s.FechaCreacion < DATEADD(DAY, 1, @FechaHasta))
    ORDER BY s.FechaCreacion DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarSolicitudesPorUsuario]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarSolicitudesPorUsuario]
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        s.Id,
        s.Estado,
        s.FechaCreacion,
        serv.Nombre AS Servicio,
        serv.Costo
    FROM Solicitudes s
    INNER JOIN Servicios serv ON serv.Id = s.ServicioId
    WHERE s.UsuarioId = @UsuarioId
    ORDER BY s.FechaCreacion DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerSolicitudesPorUsuario]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerSolicitudesPorUsuario]
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        s.Id,
        s.Estado,
        s.FechaCreacion,
        serv.Nombre AS Servicio,
        serv.Costo,
        COUNT(h.Id) AS CantMovimientos
    FROM Solicitudes s
    LEFT JOIN Servicios        serv ON serv.Id = s.ServicioId
    LEFT JOIN HistorialEstados h    ON h.SolicitudId = s.Id
    WHERE s.UsuarioId = @UsuarioId
    GROUP BY s.Id, s.Estado, s.FechaCreacion, serv.Nombre, serv.Costo
    ORDER BY s.FechaCreacion DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarUsuario]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarUsuario]
    @Nombre           NVARCHAR(100),
    @Correo           NVARCHAR(150),
    @Password         NVARCHAR(200),
    @Cedula           CHAR(11),
    @TipoUsuario      NVARCHAR(20),        -- 'Solicitante' o 'Interno'
    @RolInternoDeseado NVARCHAR(50) = NULL -- solo informativo (no se guarda en columna)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar correo único
    IF EXISTS (SELECT 1 FROM Usuarios WHERE Correo = @Correo)
    BEGIN
        RAISERROR('Ya existe un usuario con ese correo.', 16, 1);
        RETURN;
    END

    DECLARE @Roll NVARCHAR(50);
    DECLARE @Activo BIT;
    DECLARE @EsInternoPendiente BIT;

    IF (@TipoUsuario = 'Interno')
    BEGIN
        -- Usuario interno pendiente de aprobación
        SET @Roll = 'Pendiente';
        SET @Activo = 0;
        SET @EsInternoPendiente = 1;
    END
    ELSE
    BEGIN
        -- Usuario solicitante normal
        SET @Roll = 'Solicitante';
        SET @Activo = 1;
        SET @EsInternoPendiente = 0;
    END

    INSERT INTO Usuarios (Nombre, Correo, Contraseña, Roll, Activo, EsInternoPendiente, Cedula)
    VALUES (@Nombre, @Correo, @Password, @Roll, @Activo, @EsInternoPendiente, @Cedula);

    DECLARE @UsuarioId INT = SCOPE_IDENTITY();

    SELECT Id, Nombre, Correo, Roll, Activo, EsInternoPendiente, Cedula
    FROM Usuarios
    WHERE Id = @UsuarioId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SubirDocumento]    Script Date: 21/12/2025 1:47:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SubirDocumento]
    @SolicitudId INT,
    @Nombre      NVARCHAR(260),
    @Tipo        NVARCHAR(100),
    @Ruta        NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Documentos (Nombre, Tipo, Ruta, SolicitudId)
    VALUES (@Nombre, @Tipo, @Ruta, @SolicitudId);

    DECLARE @DocumentoId INT = SCOPE_IDENTITY();

    SELECT *
    FROM Documentos
    WHERE Id = @DocumentoId;
END;
GO
